In [19]:
import pandas as pd
file=pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')
file=file.drop('Unnamed: 0', axis=1)
file.columns , file.shape

(Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
        'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
        'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
        'Months Since Last Claim', 'Months Since Policy Inception',
        'Number of Open Complaints', 'Number of Policies', 'Policy Type',
        'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
        'Vehicle Class', 'Vehicle Size', 'Vehicle Type'],
       dtype='object'),
 (10910, 25))

In [14]:
file.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [18]:
file.isna().sum()

Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

In [24]:
file['State'].value_counts(dropna=False)

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
NaN            631
Name: State, dtype: int64